<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065920604068-m58cl1r1tjie77iudenb4kna0ikbek82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065920604068-m58cl1r1tjie77iudenb4kna0ikbek82</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1065920604068-qpte8illchj280si95o4rcrnf9ho9spt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAi5A01CfT2_BMEDEb5_wYMEgvqTt88DvA</string>
	<key>GCM_SENDER_ID</key>
	<string>1065920604068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deliveryApp</string>
	<key>PROJECT_ID</key>
	<string>deliverapp-4ce26</string>
	<key>STORAGE_BUCKET</key>
	<string>deliverapp-4ce26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065920604068:ios:ed221dcd17341f078c0331</string>
</dict>
</plist>